NODE_ENV=development
PORT=5000
DATABASE_URL=
DB_SSL=false
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_TEST_NAME=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
CORS_ORIGIN=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
